html body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(25, 61, 75);
}

.content {
  display: flex;
  justify-content: center;
}

.column {
  width: 50%;
  height: 100vh;
  background-color: rgb(253, 230, 165);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.results-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.results-btn-panel {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  cursor: pointer;
  background-color: green;
}

.card:hover {
  background-color: lime;
}

.card-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}

.card-thumbnail {
  height: 120px;
  width: 120px;
}

.card-subInfo1 {
  display: flex;
  flex-direction: column;
}

.card-subInfo2 {
  display: flex;
  justify-content: space-between;
}

.player {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  width: 100%;
}

.player-left-panel {
  display: flex;
}

.player-prev-btn {
}

.player-play-btn {
}

.player-next-btn {
}

.player-middle-panel {
  display: flex;
  flex-grow: 1;
}

.player-seek-bar {
  flex-grow: 1;
}

.player-time {
}

.player-currenttime {
}

.player-duration {
}

.player-right-panel {
  display: flex;
}

.player-volume-bar {
}

.player-loop-btn {
}

.player-shuffle-btn {
}

.queue {
  position: fixed;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 25%;
  background-color: rebeccapurple;
  overflow-x: hidden;
  overflow-y: scroll;
}

.queue-item {
  display: flex;
  gap: 4px;
  background-color: violet;
  padding: 8px;
  margin: 8px;
  user-select: none;
}

.queue-item.dragging {
  background-color: aquamarine;
  z-index: 1;
}

.queue-thumbnail {
  height: 80px;
  width: 80px;
  object-fit: cover;
  cursor: pointer;
}

.queue-song-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
}

.queue-song-name {
}

.queue-buttom-info {
  display: flex;
  justify-content: space-between;
}

.queue-artist {
}

.queue-duration {
}

.queue-button-panel {
  display: flex;
  align-items: center;
  gap: 4px;
}

.queue-move-btn {
}

.queue-remove-btn {
}

.tab {
  display: flex;
  font-size: 1.5rem;
  gap: 4px;
}

.tab > div {
  cursor: pointer;
  background-color: aqua;
  padding: 12px;
}

.tab > div:hover {
  cursor: pointer;
  background-color: aquamarine;
}
