:root {
  --player-height: 104px;
  --queue-width: 450px;
  --background-lighter-color: #363636;
  --background-color: #1a1a1a;
  --background-darker-color: #0c0c0c;
  --primary-color: #ff6f61;
  --secondary-color: #29a19c;
  --text-color: #ffffff;
  --sub-text-color: #9b9b9b;
  --sub2-text-color: #7e7e7e;
  --button-color: #f9c846;
}

/* Base styles for the range input */
input[type="range"] {
  -webkit-appearance: none; /* For Safari and Chrome */
  -moz-appearance: none; /* For Firefox */
  margin: 0;
  appearance: none; /* For other browsers */
  position: relative;
  overflow: hidden;
  height: 100%; /* Full height for the range input */
  cursor: pointer;
  border-radius: 0; /* iOS */
}

/* WebKit (Chrome, Safari) track */
::-webkit-slider-runnable-track {
  background-color: #ddd; /* Track background */
  height: 100%; /* Set track height to match the input */
}

/* WebKit thumb */
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px; /* Set thumb width to 0 */
  height: 100%; /* Match track height */
  background: #fff; /* Thumb color */
  box-shadow: -100vw 0 0 100vw var(--primary-color); /* Shadow for thumb */
}

/* Firefox track */
::-moz-range-track {
  background: #ddd; /* Track background */
  height: 100%; /* Set track height to match the input */
}

/* Firefox thumb */
::-moz-range-thumb {
  background: #fff; /* Thumb color */
  height: 100%; /* Match track height */
  width: 20px; /* Set thumb width */
  border: 0; /* Remove border */
  border-radius: 0; /* No rounded corners */
  box-shadow: -100vw 0 0 100vw var(--primary-color); /* Shadow for thumb */
}

/* Internet Explorer track */
::-ms-track {
  background: #ddd; /* Track background */
  height: 100%; /* Set track height to match the input */
  border: none; /* Remove border */
  color: transparent; /* Make ticks invisible */
}

/* Internet Explorer thumb */
::-ms-thumb {
  background: #fff; /* Thumb color */
  border: none; /* Remove border */
  height: 100%; /* Match track height */
  width: 20px; /* Set thumb width */
  box-shadow: -100vw 0 0 100vw var(--primary-color); /* Shadow for thumb */
}

/* IE fill lower */
::-ms-fill-lower {
  background: var(--primary-color); /* Color for the lower track */
}

/* IE fill upper */
::-ms-fill-upper {
  background: #ddd; /* Color for the upper track */
}

/* Prevent ticks from appearing */
::-ms-ticks-after,
::-ms-ticks-before {
  display: none; /* Hide ticks */
}

/* Hide tooltip in Internet Explorer */
::-ms-tooltip {
  display: none; /* Hide tooltip */
}

/* WebKit Scrollbar Styles (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
  box-shadow: inset 0 0 0 2.5px #ddd;
}

/* Firefox Scrollbar */
@supports (-moz-appearance: auto) {
  /* Apply styles only in Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) #ddd;
  }
}

html body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  background-color: rgb(25, 61, 75);
}

.content {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: calc(100vh - var(--player-height));
}

.column {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: rgb(253, 230, 165);
  opacity: 100%;
  transition: opacity 0.25s;
}

.column-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
}

.column-close-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
}

.column.hidden {
  opacity: 0%;
  transition: opacity 0.25s;
  pointer-events: none;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
}

.results-btn-panel {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  cursor: pointer;
  background-color: green;
}

.card:hover {
  background-color: lime;
}

.card-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}

.card-thumbnail {
  height: 120px;
  width: 120px;
}

.card-subInfo1 {
  display: flex;
  flex-direction: column;
}

.card-subInfo2 {
  display: flex;
  justify-content: space-between;
}

.player {
  position: fixed;
  bottom: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: var(--player-height);
}

.player-top-panel {
  display: flex;
  width: 100%;
  height: 8px;
  align-items: center;
  gap: 8px;
}

.player-seek-bar {
  flex-grow: 1;
}

.player-bottom-panel {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.player-left-panel {
  width: 35%;
  display: flex;
  gap: 16px;
  align-items: center;
  padding-left: 16px;
  font-size: 1.25rem;
}

.player-thumbnail {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 4px;
}

.player-song-name {
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflow content */
  text-overflow: ellipsis; /* Adds ellipsis when text overflows */
  color: var(--text-color);
}

.player-song-name:visited {
  color: var(--text-color);
}

.player-middle-panel {
  height: 75px;
  width: 450px;
  position: absolute;
  left: calc(50% - 225px);
}

.player-btn-panel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: absolute;
}

.player-common-btn,
.player-special-btn,
.queue-remove-btn,
.my-playlist-btn {
  box-shadow: none;
  appearance: none; /* Removes platform-specific styling */
  -webkit-appearance: none; /* For Safari/Chrome */
  -moz-appearance: none; /* For Firefox */
  padding: 0;
  border: none;
  cursor: pointer;
}

.player-special-btn:hover,
.player-common-btn:hover {
  filter: brightness(1.2); /* Increases brightness by 20% */
}

.player-common-btn:active,
.player-special-btn:active {
  transform: scale(0.9); /* Scales the button to 95% of its original size */
  filter: brightness(2); /* Increases brightness by 100% */
  transition: transform 0.1s ease-in-out; /* Smooth transition for the scaling effect */
}

.player-common-btn {
  background-color: transparent;
  color: var(--button-color);
  font-size: 36px;
}

.player-special-btn {
  height: 64px;
  width: 64px;
  font-size: 48px;
  border-radius: 64px;
  background-color: var(--button-color);
  color: var(--background-color);
}

.player-common-btn:disabled,
.player-special-btn:disabled {
  filter: grayscale(0.25) brightness(0.7);
  cursor: not-allowed;
}

.player-common-btn.enable:has(.ri-loop-right-fill) {
  animation: rotateClockwise 2s linear infinite;
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-time {
  font-size: 0.875rem;
  position: absolute;
  right: 0%;
  top: calc(50% - 0.4375rem);
  color: var(--sub-text-color);
}

.player-currenttime {
}

.player-duration {
}

.player-right-panel {
  display: flex;
  gap: 8px;
  padding-right: 16px;
  align-items: center;
}

.player-right-panel > * {
  font-size: 24px;
}

.player-volume-bar {
  display: flex;
  align-items: center;
  height: 8px;
}

.player-volume-bar > input {
  border-radius: 16px;
  width: 80px;
}

.queue {
  position: fixed;
  height: calc(100% - var(--player-height));
  width: var(--queue-width);
  bottom: var(--player-height);
  left: 0;
  background-color: var(--background-darker-color);
  color: var(--text-color);
  transition: left 0.5s;
  z-index: 2;
}

.queue.hidden {
  left: calc(var(--queue-width) * -1);
  transition: left 0.5s;
}

.queue-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
  overflow-y: auto;
}

.queue-expand-btn {
  position: absolute;
  top: calc(50% - var(--player-height) / 2);
  left: var(--queue-width);
  height: 64px;
  width: 24px;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  background: linear-gradient(
    to right,
    var(--background-darker-color) 5%,
    var(--background-color) 60%
  );
}

.queue-item {
  display: flex;
  gap: 4px;
  background-color: var(--background-darker-color);
  padding: 8px;
  margin: 0 8px;
  user-select: none;
  cursor: move;
  border-bottom: var(--background-lighter-color) solid 1px;
}

.queue-item:last-child {
  border: none;
}

.queue-item.dragging {
  background-color: var(--background-color);
  border: none;
  z-index: 1;
}

.queue-thumbnail {
  height: 80px;
  width: 80px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
}

.queue-song-info {
  height: 80px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 4px;
  overflow: hidden;
}

.queue-song-name {
  font-size: 1.125rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.queue-buttom-info {
  display: flex;
  justify-content: space-between;
}

.queue-artist {
  color: var(--sub-text-color);
}

.queue-duration {
  color: var(--sub-text-color);
}

.queue-duration.hidden {
  color: var(--sub-text-color);
  display: none;
}

.queue-button-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  margin-left: 8px;
}

.queue-remove-btn {
  height: 40px;
  width: 40px;
  background-color: transparent;
  color: var(--button-color);
  font-size: 18px;
  border-radius: 40px;
}

.queue-remove-btn:hover {
  background-color: var(--background-lighter-color);
}

.queue-remove-btn.hidden {
  display: none;
}

.tab {
  display: flex;
  font-size: 1.5rem;
  gap: 4px;
}

.tab > div {
  cursor: pointer;
  background-color: aqua;
  padding: 12px;
  user-select: none;
}

.tab > div:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.tab .selected {
  background-color: azure;
}

.my-playlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.my-playlist-btn {
  position: absolute;
  top: 4px;
  right: 16px;
  font-size: 1.5rem;
  background-color: var(--button-color);
  padding: 6px 14px;
  border-radius: 8px;
  color: var(--text-color);
  text-shadow: black 0 1px 2px;
}

.my-playlist-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  padding: 16px 8px;
  background-color: green;
}

.my-playlist-card:hover {
  background-color: lime;
}

.my-playlist-thumbnail {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.search-form {
  position: absolute;
  top: 4px;
  z-index: 1;
  transition: opacity 0.25s;
}

.search-form.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}
